Resonance.Insight3.Web/Service References/CertonaService/CertonaService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.Enums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://209.118.149.87/CertonaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="ItemStatuses">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Inactive">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Deleted">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ItemStatuses" nillable="true" type="tns:ItemStatuses" />
  <xs:simpleType name="ServiceResultMessage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LoginAccountDoesNotExist" />
      <xs:enumeration value="LoginInvalidCredentials" />
      <xs:enumeration value="LoginInvalidCredentialsWithCount" />
      <xs:enumeration value="LoginAttemptsExceeded" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceResultMessage" nillable="true" type="tns:ServiceResultMessage" />
  <xs:simpleType name="ExpressionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Filter">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Condition">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExpressionType" nillable="true" type="tns:ExpressionType" />
  <xs:simpleType name="BusinessRuleEditorControlType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TextBox" />
      <xs:enumeration value="DropDownContextSource" />
      <xs:enumeration value="DropDownBoolean" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BusinessRuleEditorControlType" nillable="true" type="tns:BusinessRuleEditorControlType" />
</xs:schema>