Resonance.Insight3.Web/Service References/CertonaService/CertonaService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://209.118.149.87/CertonaService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.Enums" />
  <xs:complexType name="ArrayOfErrorResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorResult" nillable="true" type="tns:ErrorResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorResult" nillable="true" type="tns:ArrayOfErrorResult" />
  <xs:complexType name="ErrorResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemainingLoginAttempts" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.Enums" minOccurs="0" name="ServiceResultMessage" type="q1:ServiceResultMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorResult" nillable="true" type="tns:ErrorResult" />
</xs:schema>