Resonance.Insight3.Web/Service References/CertonaService/CertonaService18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects.BusinessRule" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects.BusinessRule" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://209.118.149.87/CertonaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" />
  <xs:import schemaLocation="http://209.118.149.87/CertonaService.svc?xsd=xsd26" namespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.BusinessRule" />
  <xs:complexType name="CreateRuleRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SessionID" type="xs:long" />
          <xs:element minOccurs="0" name="VariantID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateRuleRequest" nillable="true" type="tns:CreateRuleRequest" />
  <xs:complexType name="UpdateRuleRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q2:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RuleID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateRuleRequest" nillable="true" type="tns:UpdateRuleRequest" />
  <xs:complexType name="SaveExpressionRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q3:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExpressionID" type="xs:int" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.BusinessRule" minOccurs="0" name="RuleExpression" nillable="true" type="q4:ArrayOfExpressionDTO" />
          <xs:element minOccurs="0" name="RuleID" type="xs:int" />
          <xs:element minOccurs="0" name="RuleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SessionID" type="xs:long" />
          <xs:element minOccurs="0" name="VariantID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveExpressionRequest" nillable="true" type="tns:SaveExpressionRequest" />
  <xs:complexType name="GetControlSetRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q5:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AttributeType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OperatorType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetControlSetRequest" nillable="true" type="tns:GetControlSetRequest" />
  <xs:complexType name="DeleteRuleRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q6:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="RuleID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteRuleRequest" nillable="true" type="tns:DeleteRuleRequest" />
  <xs:complexType name="DeleteExpressionRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q7:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="VExpressionID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeleteExpressionRequest" nillable="true" type="tns:DeleteExpressionRequest" />
  <xs:complexType name="GetContextsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q8:RequestBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetContextsRequest" nillable="true" type="tns:GetContextsRequest" />
  <xs:complexType name="GetRuleOperatorsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q9:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AttributeType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetRuleOperatorsRequest" nillable="true" type="tns:GetRuleOperatorsRequest" />
  <xs:complexType name="GetFilterAttributesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q10:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CatalogID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetFilterAttributesRequest" nillable="true" type="tns:GetFilterAttributesRequest" />
  <xs:complexType name="GetConditionAttributesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q11:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CatalogID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetConditionAttributesRequest" nillable="true" type="tns:GetConditionAttributesRequest" />
  <xs:complexType name="GetNavigationMappingRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q12:RequestBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetNavigationMappingRequest" nillable="true" type="tns:GetNavigationMappingRequest" />
  <xs:complexType name="GetUserMappingRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q13:RequestBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetUserMappingRequest" nillable="true" type="tns:GetUserMappingRequest" />
</xs:schema>