Resonance.Insight3.Web/Service References/CertonaService/CertonaService17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects.Variant" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects.Variant" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://209.118.149.87/CertonaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" />
  <xs:import schemaLocation="http://209.118.149.87/CertonaService.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary" />
  <xs:import schemaLocation="http://209.118.149.87/CertonaService.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Variant" />
  <xs:complexType name="GetVariantDetailsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="VariantID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetVariantDetailsRequest" nillable="true" type="tns:GetVariantDetailsRequest" />
  <xs:complexType name="GetVariantRulesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q2:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="VariantID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetVariantRulesRequest" nillable="true" type="tns:GetVariantRulesRequest" />
  <xs:complexType name="GetVariantBoostsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q3:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="VariantID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetVariantBoostsRequest" nillable="true" type="tns:GetVariantBoostsRequest" />
  <xs:complexType name="GetVariantSlotsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q4:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="VariantID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetVariantSlotsRequest" nillable="true" type="tns:GetVariantSlotsRequest" />
  <xs:complexType name="UpdateVariantStatusRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q5:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="VariantID_List" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateVariantStatusRequest" nillable="true" type="tns:UpdateVariantStatusRequest" />
  <xs:complexType name="UpdateVariantPriorityRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q6:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="VariantID" type="xs:int" />
          <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateVariantPriorityRequest" nillable="true" type="tns:UpdateVariantPriorityRequest" />
  <xs:complexType name="UpdateVariantDetailsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q7:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CatalogID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Explanation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MethodID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumberOfItems" type="xs:int" />
          <xs:element minOccurs="0" name="Priority" type="xs:int" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VariantID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateVariantDetailsRequest" nillable="true" type="tns:UpdateVariantDetailsRequest" />
  <xs:complexType name="CreateVariantRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q8:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CatalogID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContainerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExperienceID" type="xs:int" />
          <xs:element minOccurs="0" name="MethodID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumberOfAssets" type="xs:int" />
          <xs:element minOccurs="0" name="Priority" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateVariantRequest" nillable="true" type="tns:CreateVariantRequest" />
  <xs:complexType name="UpdateVariantModifiersRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q9:RequestBase">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary" minOccurs="0" name="VariantBiases" nillable="true" type="q10:ArrayOfVariantBiasDTO" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Variant" minOccurs="0" name="VariantDetails" nillable="true" type="q11:VariantDetailsDTO" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary" minOccurs="0" name="VariantModels" nillable="true" type="q12:ArrayOfVariantModelDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateVariantModifiersRequest" nillable="true" type="tns:UpdateVariantModifiersRequest" />
</xs:schema>