Resonance.Insight3.Web/Service References/CertonaService/CertonaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVariantBiasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VariantBiasDTO" nillable="true" type="tns:VariantBiasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVariantBiasDTO" nillable="true" type="tns:ArrayOfVariantBiasDTO" />
  <xs:complexType name="VariantBiasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BiasID" type="xs:int" />
      <xs:element minOccurs="0" name="ListName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VariantBiasDTO" nillable="true" type="tns:VariantBiasDTO" />
  <xs:complexType name="ArrayOfVariantModelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VariantModelDTO" nillable="true" type="tns:VariantModelDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVariantModelDTO" nillable="true" type="tns:ArrayOfVariantModelDTO" />
  <xs:complexType name="VariantModelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatalogID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VariantModelDTO" nillable="true" type="tns:VariantModelDTO" />
</xs:schema>