Resonance.Insight3.Web/Service References/CertonaService/CertonaService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Package" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Package" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PackageDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageDetailsDTO" nillable="true" type="tns:PackageDetailsDTO" />
  <xs:complexType name="ArrayOfPackageSchemesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageSchemesDTO" nillable="true" type="tns:PackageSchemesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageSchemesDTO" nillable="true" type="tns:ArrayOfPackageSchemesDTO" />
  <xs:complexType name="PackageSchemesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Catalog" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CatalogImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContainerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfItems" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageSchemesDTO" nillable="true" type="tns:PackageSchemesDTO" />
</xs:schema>