Resonance.Insight3.Web/Service References/CertonaService/CertonaService44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Reporting" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Reporting" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReportDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportDTO" nillable="true" type="tns:ReportDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportDTO" nillable="true" type="tns:ArrayOfReportDTO" />
  <xs:complexType name="ReportDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReportID" type="xs:int" />
      <xs:element minOccurs="0" name="ReportName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportDTO" nillable="true" type="tns:ReportDTO" />
  <xs:complexType name="ReportingDataLastUpdatedDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReportingDataLastUpdated" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportingDataLastUpdatedDTO" nillable="true" type="tns:ReportingDataLastUpdatedDTO" />
  <xs:complexType name="ArrayOfTrendsDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrendsDataDTO" nillable="true" type="tns:TrendsDataDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrendsDataDTO" nillable="true" type="tns:ArrayOfTrendsDataDTO" />
  <xs:complexType name="TrendsDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrendsDataDTO" nillable="true" type="tns:TrendsDataDTO" />
</xs:schema>