Resonance.Insight3.Web/Service References/CertonaService/Resonance.Services.Infrastructure.DTOLibrary.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Segment" />
  <xs:complexType name="ModelDTO">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CatalogName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Segment" minOccurs="0" name="Segmentation" nillable="true" type="q1:SegmentationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelDTO" nillable="true" type="tns:ModelDTO" />
  <xs:complexType name="ArrayOfModelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelDTO" nillable="true" type="tns:ModelDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelDTO" nillable="true" type="tns:ArrayOfModelDTO" />
</xs:schema>