Resonance.Insight3.Web/Service References/CertonaService/Resonance.Services.Infrastructure.RequestObjects.Experience1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects.Experience" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects.Experience" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" />
  <xs:complexType name="GetExperienceBoostsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExperienceID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetExperienceBoostsRequest" nillable="true" type="tns:GetExperienceBoostsRequest" />
  <xs:complexType name="GetExperienceVariantsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q2:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExperienceID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetExperienceVariantsRequest" nillable="true" type="tns:GetExperienceVariantsRequest" />
  <xs:complexType name="GetExperienceDetailsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q3:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExperienceID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetExperienceDetailsRequest" nillable="true" type="tns:GetExperienceDetailsRequest" />
  <xs:complexType name="UpdateExperienceDetailsRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q4:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExperienceID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SamplingRangeBegin" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="SamplingRangeEnd" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateExperienceDetailsRequest" nillable="true" type="tns:UpdateExperienceDetailsRequest" />
  <xs:complexType name="UpdateExperienceModifiersRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q5:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExperienceID" type="xs:int" />
          <xs:element minOccurs="0" name="Pool" type="xs:int" />
          <xs:element minOccurs="0" name="Profile" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateExperienceModifiersRequest" nillable="true" type="tns:UpdateExperienceModifiersRequest" />
  <xs:complexType name="UpdateExperienceTrafficRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q6:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExperienceID" type="xs:int" />
          <xs:element minOccurs="0" name="SamplingRangeBegin" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="SamplingRangeEnd" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateExperienceTrafficRequest" nillable="true" type="tns:UpdateExperienceTrafficRequest" />
  <xs:complexType name="CreateExperienceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q7:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SchemeID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateExperienceRequest" nillable="true" type="tns:CreateExperienceRequest" />
  <xs:complexType name="GetLastVariantPriorityByExperienceRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.RequestObjects" base="q8:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExperienceID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetLastVariantPriorityByExperienceRequest" nillable="true" type="tns:GetLastVariantPriorityByExperienceRequest" />
</xs:schema>