Resonance.Insight3.Web/Service References/CertonaService/Resonance.Services.Infrastructure.DTOLibrary.Tools1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Tools" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Tools" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfToolDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToolDTO" nillable="true" type="tns:ToolDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToolDTO" nillable="true" type="tns:ArrayOfToolDTO" />
  <xs:complexType name="ToolDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
      <xs:element minOccurs="0" name="ToolID" type="xs:int" />
      <xs:element minOccurs="0" name="ToolName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToolDTO" nillable="true" type="tns:ToolDTO" />
</xs:schema>