Resonance.Insight3.Web/Service References/CertonaService/Resonance.Services.Infrastructure.DTOLibrary.Segment2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Segment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Segment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SegmentationDTO">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segments" nillable="true" type="tns:ArrayOfSegmentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SegmentationDTO" nillable="true" type="tns:SegmentationDTO" />
  <xs:complexType name="ArrayOfSegmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SegmentDTO" nillable="true" type="tns:SegmentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSegmentDTO" nillable="true" type="tns:ArrayOfSegmentDTO" />
  <xs:complexType name="SegmentDTO">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttributeData" nillable="true" type="tns:ArrayOfSegmentAttributeDataDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SegmentDTO" nillable="true" type="tns:SegmentDTO" />
  <xs:complexType name="ArrayOfSegmentAttributeDataDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SegmentAttributeDataDTO" nillable="true" type="tns:SegmentAttributeDataDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSegmentAttributeDataDTO" nillable="true" type="tns:ArrayOfSegmentAttributeDataDTO" />
  <xs:complexType name="SegmentAttributeDataDTO">
    <xs:sequence>
      <xs:element name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="AttributeTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttributeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SegmentAttributeDataDTO" nillable="true" type="tns:SegmentAttributeDataDTO" />
  <xs:complexType name="ArrayOfSegmentItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SegmentItemDTO" nillable="true" type="tns:SegmentItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSegmentItemDTO" nillable="true" type="tns:ArrayOfSegmentItemDTO" />
  <xs:complexType name="SegmentItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemID" nillable="true" type="xs:string" />
      <xs:element name="ModelID" type="xs:int" />
      <xs:element name="SegmentID" type="xs:int" />
      <xs:element minOccurs="0" name="AccountDescriptionFieldValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountItemIdFieldValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountItemIDValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountDescriptionValue" nillable="true" type="xs:string" />
      <xs:element name="Score" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SegmentItemDTO" nillable="true" type="tns:SegmentItemDTO" />
</xs:schema>