Resonance.Insight3.Web/Service References/CertonaService/Resonance.Services.Infrastructure.DTOLibrary.BusinessRule1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.BusinessRule" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.BusinessRule" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRuleOperatorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RuleOperatorDTO" nillable="true" type="tns:RuleOperatorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRuleOperatorDTO" nillable="true" type="tns:ArrayOfRuleOperatorDTO" />
  <xs:complexType name="RuleOperatorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RuleOperatorDTO" nillable="true" type="tns:RuleOperatorDTO" />
</xs:schema>