Resonance.Insight3.Web/Service References/CertonaService/Resonance.Services.Infrastructure.DTOLibrary.Variant11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Variant" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Resonance.Services.Infrastructure.DTOLibrary.Variant" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VariantDetailsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Catalog" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContainerTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Icon_FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfAssets" type="xs:int" />
      <xs:element minOccurs="0" name="PersonalizationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PoolFactor" type="xs:int" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="RecommendationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectWeight" type="xs:int" />
      <xs:element minOccurs="0" name="VariantId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VariantDetailsDTO" nillable="true" type="tns:VariantDetailsDTO" />
  <xs:complexType name="ArrayOfVariantRuleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VariantRuleDTO" nillable="true" type="tns:VariantRuleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVariantRuleDTO" nillable="true" type="tns:ArrayOfVariantRuleDTO" />
  <xs:complexType name="VariantRuleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpressionText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuleID" type="xs:int" />
      <xs:element minOccurs="0" name="RuleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VariantRuleDTO" nillable="true" type="tns:VariantRuleDTO" />
</xs:schema>